[submodule "dashapps/pks"]
	path = dashapps/pks
	url = https://github.com/andmbg/pks.git
[submodule "dashapps/elternsein"]
	path = dashapps/elternsein
	url = https://github.com/andmbg/elternsein.git
[submodule "dashapps/bundestag"]
	path = dashapps/bundestag
	url = https://github.com/andmbg/stimmung.git
[submodule "dashapps/wikimap"]
	path = dashapps/wikimap
	url = https://github.com/andmbg/wikipedia-map.git
	branch = portfolio
