[submodule "dash_collection/pks"]
	path = dash_collection/pks
	url = https://github.com/andmbg/pks.git
[submodule "dash_collection/wikimap"]
	path = dash_collection/wikimap
	url = https://github.com/andmbg/wikipedia-map.git
