body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

footer {
    margin-top: 5em;
}

.para {
    background: rgba(255,255,255, 0.5);
    /* backdrop-filter: blur(20px); */
    border-left: 5px solid white;
    padding: 30px;
    z-index: 1;
    position: relative;
}

.figure {
    background: rgba(255,255,255, 0.5);
    /* backdrop-filter: blur(20px); */
    padding: 30px;
    z-index: 1;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.background-fixed::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/background_wikimap_pale.jpg') no-repeat center center;
    background-size: cover;
    z-index: -1; /* Ensure the background is behind other content */
    pointer-events: none; /* Prevent the background from interfering with interactions */
}

.yel {
    background: rgba(255, 230, 180, .3);
    border-left: 5px solid rgb(255, 230, 180);
}

a {
    text-decoration: none;
}

a.nav-link {
    font-size: 2em;
    color: #000;
}

