<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" href="/static/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    {% block custom_css %}
        <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    {% endblock %}

</head>

<body>
    <header>
        <nav class="container navbar navbar-expand-lg navbar-light align-items-end">
            <a class="navbar-brand" href="{{ '/' }}"><img src="{{ url_for('static', filename='img/logo.png')}}" height="150px"></a>
            <ul class="nav">
                {% for name, url in nav_entries.items() %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url }}">{{ name }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </header>

    {% block main %}
    {% endblock %}

    <footer>
        <div class="container">
            <p class="text-center">Autor: <a href="{{ '/contact' }}">A. Domberg</a> CC BY-NC-SA </p>
        </div>
    </footer>
    {% block post %}
    {% endblock %}

    <script src="/static/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>