{% extends "base.html" %}

{% block title %}:Something Something Data. Themen und Daten zum Spielen..{% endblock %}

{% block main %}
    <div class="background-fixed"></div>
    <main class="container mt-4">
        <div class="row">
            <div class="col-8 offset-2 para">
                {{ intro | safe }}
            </div>
        </div>
        {% for post in posts %}
        <div class="row">
            <div class="col-10 offset-{{ post.get('offset', 0) }}">
                    <div class="card" style="width:50%;margin-top:100px;rotate:{{ post.get('rotation') }}deg;margin-left:{{ post.get('side_shift') }};box-shadow:30px 30px 70px 0px #0006;">
                        <a href="{{ url_for(post.get('route')) }}">
                            <img class="card-img-top" src="data:image/png;base64, {{ post.get('thumbnail_img') }}" alt="Card image">
                        </a>
                        <div class="card-body">
                        <a href="{{ url_for(post.get('route')) }}">
                            <h4 class="card-title">{{ post.get('title', 'default title') }}</h4>
                        </a>
                        <p class="card-text">

                            {{ post.get('synopsis', 'keine Zusammenfassung') | safe }}

                        </p>
                        </div>
                    </div>
            </div>
        </div>
        {% endfor %}
    </main>
{% endblock %}
