<!DOCTYPE html>
<html>

<head>
    <title>My App</title>
    <link rel="stylesheet" href="/static/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <style>
        div {
            border: 1px solid #0000ff80;
        }

        nav {
            border: 1px solid rgba(255, 0, 0, 0.5);
        }
    </style>

</head>

<body style="background-image: url('path/to/your/image.jpg'); background-repeat: repeat;">
    <header>
        <nav class="container navbar navbar-expand-lg navbar-light bg</body>-light">
            <a class="navbar-brand" href="#">My Logo</a>
            <ul class="nav">
                {% for name, url in nav_entries.items() %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url }}">{{ name }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </header>

    <main class="container mt-4">
        <div class="row">
            <div class="col-10 offset-1">
                {{ intro }}
            </div>
        </div>
        <div class="row">
            <div class="col-10 offset-1">
                {% for post in posts %}
                <div class="card" style="width:600px">
                    <img class="card-img-top" src="{{ url_for('static', filename='../dashapps')}}{{ post.get('route') }}{{ post.get('thumbnail') }}" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">{{ post.get('title', 'default title') }}</h4>
                      <p class="card-text">
                        
                        {{ post.get('synopsis', 'keine Zusammenfassung') }}
                    
                    </p>
                      <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                  </div>
                {% endfor %}
            </div>
        </div>
    </main>
    <a class="nav-link" href="../submodules/about.html">About</a>

    <footer class="bg-light mt-4">
        <div class="container">
            <p class="text-center">This is the index footer.</p>
        </div>
    </footer>

    <script src="/static/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>