{% extends "layout.jinja2" %}

{% block content %}
<div class="card">
  <h1 class="site-title">{{ title }}</h1>

  <a href="/pks/" class="dash-link">
    <span>PKS</span>
    <i class="fas fa-arrow-right"></i>
  </a>

</div>
{% endblock %}
